<div class="container-wrap">
	<section id="leaderboard">
		<nav class="ladder-nav">
			<div class="ladder-title">
			<h1>Standings</h1>
			</div>
			<div class="ladder-search">
				<input type="text" id="search-leaderboard" class="live-search-box" placeholder="Search Team..." />
			</div>
		</nav>
		<table id="rankings" class="leaderboard-results" width="100%">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Team</th>
					<th>Country</th>
                    <th>Games Played</th>
					<th>PTS</th>
				</tr>
			</thead>
			<thead>
				<tr>
                    <th>1.</th>
                    <th>Raion</th>
                    <th>Indonesia</th> 
                    <th>15</th>
                    <th>287</th>
                </tr>
			</thead>
            <thead>
				<tr>
                    <th>2.</th>
                    <th>Predator</th>
                    <th>Indonesia</th> 
                    <th>15</th>
                    <th>264</th>
                </tr>
			</thead>
            <thead>
				<tr>
                    <th>3.</th>
                    <th>Star</th>
                    <th>Indonesia</th> 
                    <th>15</th>
                    <th>221</th>
                </tr>
			</thead>
		</table>
	</section>
