<div class="container-wrap">
	<section id="leaderboard">
		<nav class="ladder-nav">
			<div class="ladder-title">
			<h1>Match Schedule</h1>
			</div>
		</nav>
		<table id="rankings" class="leaderboard-results" width="100%">
			<thead>
				<tr>
					<th>Hari</th>
					<th>Grup</th>
					<th>Jam</th>
                    <th>Jumlah Match</th>
				</tr>
			</thead>
			<thead>
				<tr>
                    <th>Senin</th>
                    <th>A, B, C, D</th>
                    <th>19.00 - Selesai</th> 
                    <th>5</th>
                </tr>
			</thead>
            <thead>
				<tr>
                    <th>Selasa</th>
                    <th>B, C, D, E</th>
                    <th>19.00 - Selesai</th> 
                    <th>5</th>
                </tr>
			</thead>
            <thead>
				<tr>
                    <th>Rabu</th>
                    <th>A, B, C, E</th>
                    <th>15.00 - Selesai</th> 
                    <th>5</th>
                </tr>
			</thead>
            <thead>
				<tr>
                    <th>Kamis</th>
                    <th>A, B, D, E</th>
                    <th>14.00 - Selesai</th> 
                    <th>5</th>
                </tr>
			</thead>
            <thead>
				<tr>
                    <th>Jumat</th>
                    <th>A, C, D, E</th>
                    <th>19.00 - Selesai</th> 
                    <th>5</th>
                </tr>
			</thead>
		</table>
	</section>

