    <div class="container-wrap">
        <section id="leaderboard">
            <nav class="ladder-nav">
                <div class="ladder-title">
                <h1>Profile</h1>
                </div>
                <div class="ladder-search">
				<input type="text" id="search-leaderboard" class="live-search-box" placeholder="Search Player..." />
			</div>
            </nav>
            <table id="rankings" class="leaderboard-results" width="100%">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Nama</th>
                        <th>Jenis Kelamin</th>
                        <th>Kota</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>Kishi4U</th>
                        <th>Rolando</th>
                        <th>Laki-laki</th> 
                        <th>Pontianak</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>NavG65</th>
                        <th>Ananda</th>
                        <th>Laki-laki</th> 
                        <th>Bandung</th>
                    </tr>
                </thead>
                <thead>
                    <tr>
                        <th>CksU2</th>
                        <th>Chika</th>
                        <th>Perempuan</th> 
                        <th>Yogyakarta</th>
                    </tr>
                </thead>
            </table>
        </section>
    
    