<h2> Selamat Datang Di Web Game Ku </h2>

<p>Game Ku merupakan sebuah web yang dimana tujuannya adalah untuk mencari bakat bakat muda dalam dunia E-Sport khususnya PUBG Mobile. Disini Kami memberikan tempat untuk anak anak muda memperlihatkan kemampuan mereka dalam memainkan PUBG Mobile.</p>

<p>Kami mengadakan Tournament setiap bulannya. Untuk bisa mendaftar pada Tournament ini, anda bisa langsung datang ke lokasi pendaftaran di Kota Pontianak, Jalan Atot Ahmad No.08, Atau bisa mendaftar secara online dengan cara menghubungi nomor berikut 081253695921.</p>

<p>Di sini kami memberikan hadiah yang cukup besar jika berhasil memenangkan Tournament yang kami adakan. Tournament ini akan kami adakan dalam jangka waktu 3 minggu. Selama 2 minggu ada total 20 tim yang bersaing untuk memperebutkan tiket menuju ke babak final pada minggu ketiga. Babak final akan kami adakan selama 3 hari, dan setiap harinya akan ada 6 match untuk setiap tim.</p>
